{% extends "base.html" %}

{% block content %}

{% if contact.id %}
<h1>Edit Contact</h1>
{% else %}
<h1>Add Contact</h1>
{% endif %}
<div class="jumbotron" style="background:#ff66ff;">
<form action="{{ action }}" method="POST">
  {% csrf_token %}
  <ul>
    {{ form.as_ul }}
  </ul>
  <input class="btn btn-success btn-lg btn-lg-round" id="save_contact" type="submit" value="Save" />
</form>

{% if contact.id %}
<a class ="btn btn-warning btn-lg btn-lg-round" href="{% url 'contacts-edit-addresses' pk=contact.id %}">
  Edit Addresses
</a>
<a class ="btn btn-danger btn-lg btn-lg-round" href="{% url 'contacts-delete' pk=contact.id %}">Delete</a>
{% endif %}

<a class=" btn-lg btn-lg-round btn btn-dark" href="{% url 'contacts-list' %}">Back to list</a>
</div>
{% endblock %}
