{% extends "base.html" %}

{% block content %}

<h1>Edit Addresses</h1>
<div class="jumbotron" style="background:#ff66ff;">
<p>Editing addresses for {{ contact }}</p>

<form action="{% url 'contacts-edit-addresses' pk=contact.id %}"
      method="POST">
    {% csrf_token %}
    {{ form.management_form }}
    {% for address_form in form %}

        <ul>
        {{ address_form.as_ul }}
        </ul>

    {% endfor %}

    <input class="btn btn-success btn-lg btn-lg-round" type="submit" value="Save" />
</form>
    <a class=" btn-lg btn-lg-round btn btn-dark" href="{% url 'contacts-list' %}">Back to list</a>
</div>
{% endblock %}
